@model IEnumerable<Employer>

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div class="container p-1">
    
    <div class="p-2">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
            &larr; Back
        </a>
    </div>
    <div class="row pb-2">
        <h2 class="text-primary">Review Employers</h2>
    </div>
    <hr />
    @if (Model.Count() == 0)
    {
        <h3>There are no Employers to Approve :).</h3>
    }
    else
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Legal Name</th>
                    <th>Trading Name</th>
                    <th>Registration Number</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.User.FirstName @obj.User.LastName</td>
                        <td>@obj.RegistrationName</td>
                        <td>@obj.TradingName</td>
                        <td>@obj.RegistrationNumber</td>
                        <td>@obj.EmployerStatus</td>
                        <td style="width:100%" class="btn-group" role="group">
                            <a asp-controller="ApproverEmployer" asp-action="ReviewEmployer" asp-route-id="@obj.UserId"
                               class="btn btn-primary mx-1">Review</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

</div>