@namespace StudentEmployementPortal.ViewModels
@model ApproveEmployerViewModel

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div class="p-2">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Review Employer</h2>
</div>
<hr />

<div class="row">
    <div class="form-control col">
        <br />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.TelNumber)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.TelNumber)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CelNumber)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CelNumber)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.RegistrationName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.RegistrationName)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.TradingName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.TradingName)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EmployerBusinessType)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.EmployerBusinessType)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.RegisteredAddress)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.RegisteredAddress)
            </dd>
        </dl>
    </div>
    <br />
    <div class="col">
        <form asp-action="ReviewEmployer">
            @Html.HiddenFor(Model => Model.Id, new { @readonly = "readonly" })
            <div>
                <label asp-for="ApproverNote"></label>
                <textarea asp-for="ApproverNote" class="form-control"></textarea>
            </div>
            <br />
            <div>
            <label asp-for="EmployerStatus"></label>
            @Html.DropDownListFor(model => model.EmployerStatus, Model.StatusNames, "Select Status", new { @class = "form-select"})
            </div>
            <br />
            <button type="submit" class="btn btn-primary right-align" style="width:150px">Update</button>
            
        </form>
    </div>
</div>
