
@using static StudentEmployementPortal.Models.JobPost;
@model JobPost

<form method="post">
    <div class="=border pt-2 mt-2">
        <div class="row pb-2">
            <h2 class="text-primary">Update Post</h2>
            <hr />
        </div>
        <div>
            <label asp-for="Internal" class="mb-2"></label>
            <div>
                <input type="radio" asp-for="Internal" value="true" class="m-2" />Yes
                <input type="radio" asp-for="Internal" value="false" class="m-2" />No
            </div>
            <span asp-validation-for="Internal" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Faculty"></label>
            <input asp-for="Faculty" class="form-control" />
            <span asp-validation-for="Faculty" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="JobTitle"></label>
            <input asp-for="JobTitle" class="form-control" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="JobLocation"></label>
            <input asp-for="JobLocation" class="form-control" />
            <span asp-validation-for="JobLocation" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="JobDescription"></label>
            <input asp-for="JobDescription" class="form-control" />
            <span asp-validation-for="JobDescription" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="KeyResponsibilities"></label>
            <input asp-for="KeyResponsibilities" class="form-control" />
            <span asp-validation-for="KeyResponsibilities" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="FullTime" class="mb-2"></label>
            <div>
                <input type="radio" asp-for="FullTime" value="true" class="m-2" />Yes
                <input type="radio" asp-for="FullTime" value="false" class="m-2" />No
            </div>
            <span asp-validation-for="FullTime" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="StartDate"></label>
            <div>
                <input asp-for="StartDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="EndDate"></label>
            <div>
                <input type="date" asp-for="EndDate" class="form-control" />
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="MinRequirements"></label>
            <input asp-for="MinRequirements" class="form-control" />
            <span asp-validation-for="MinRequirements" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ApplicationInstructions"></label>
            <input asp-for="ApplicationInstructions" class="form-control" />
            <span asp-validation-for="ApplicationInstructions" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ClosingDate"></label>
            <div>
                <input asp-for="ClosingDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="ClosingDate" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="HourlyRate"></label>
            <input asp-for="HourlyRate" class="form-control" />
            <span asp-validation-for="HourlyRate" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <div>
                    @Html.CheckBoxFor(m => m.limitedToFirst)
                <label>@Html.DisplayNameFor(m => m.limitedToFirst)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToSecond)
                <label>@Html.DisplayNameFor(m => m.limitedToSecond)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToThird)
                <label>@Html.DisplayNameFor(m => m.limitedToThird)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToHonours)
                <label>@Html.DisplayNameFor(m => m.limitedToHonours)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToMasters)
                <label>@Html.DisplayNameFor(m => m.limitedToMasters)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToPhD)
                <label>@Html.DisplayNameFor(m => m.limitedToPhD)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToPostDoc)
                <label>@Html.DisplayNameFor(m => m.limitedToPostDoc)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToDepartment)
                <label>@Html.DisplayNameFor(m => m.limitedToDepartment)</label>
            </div>
            <div>
                    @Html.CheckBoxFor(m => m.limitedToFaculty)
                <label>@Html.DisplayNameFor(m => m.limitedToFaculty)</label>
            </div>bel> Limited To: </><br />
            
        </div>
        <div>
            <label asp-for="CitizensOnly" class="mb-2"></label>
            <div>
                <input type="radio" asp-for="CitizensOnly" value="true" class="m-2" />Yes
                <input type="radio" asp-for="CitizensOnly" value="false" class="m-2" />No
            </div>
            <span asp-validation-for="CitizensOnly" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ContactPerson"></label>
            <input asp-for="ContactPerson" class="form-control" />
            <span asp-validation-for="ContactPerson" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ContactEmail"></label>
            <input asp-for="ContactEmail" class="form-control" />
            <span asp-validation-for="ContactEmail" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ContactNumber"></label>
            <input asp-for="ContactNumber" class="form-control" />
            <span asp-validation-for="ContactNumber" class="text-danger"></span>
        </div>
        <div class="mb-2" hidden>
            <label asp-for="Department"></label>
            <input asp-for="Department" class="form-control"/>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="mb-2" hidden>
            <label asp-for="ApproverNote"></label>
            <input asp-for="ApproverNote" class="form-control" />
            <span asp-validation-for="ApproverNote" class="text-danger"></span>
        </div>
        <div class="mb-2" hidden>
            <label asp-for="PostStatus"></label>
            <input asp-for="PostStatus" class="form-control" />
            <span asp-validation-for="PostStatus" class="text-danger"></span>
        </div>
        <div class="mb-2" hidden>
            <label asp-for="EmployerId"></label>
            <input asp-for="EmployerId" class="form-control" />
            <span asp-validation-for="EmployerId" class="text-danger"></span>
        </div>
        <div class="mb-2" hidden>
            <label asp-for="PostId"></label>
            <input asp-for="PostId" class="form-control" />
            <span asp-validation-for="PostId" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    <a asp-controller="ManagePost" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
