@model StudentEmployementPortal.Models.Application

@using StudentEmployementPortal.Utils

@{
    ViewData["Title"] = "ApplicantDetail";
}

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-secondary right-align">Back</a>
    <h3 class="text-primary" style="font-weight:bold">View Applicant</h3>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Job Title:
            </dt>
            <dd class="col-sm-10">
                @Model.Post.JobTitle
            </dd>

            <dt class="col-sm-2">
                Job Description:
            </dt>
            <dd class="col-sm-10">
                @Model.Post.JobDescription
            </dd>
        </dl>
    </div>
    <div class="row">

    </div>
    <div class="form-control">
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    Department
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.Department.DepartmentName
                </dd>

                <dt class="col-sm-2">
                    Level
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.YearOfStudy.YearOfStudyName
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <h4 class="text-success" style="font-weight:bold">Profile</h4>

            <dl class="row">
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.User.FirstName
                </dd>

                <dt class="col-sm-2">
                    Surname
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.User.LastName
                </dd>

                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.User.Email
                </dd>

                <dt class="col-sm-2">
                    Cellphone Number
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.User.CellNumber
                </dd>

                <dt class="col-sm-2">
                    Telephone Number
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.User.TelNumber
                </dd>

                <dt class="col-sm-2">
                    Gender
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.Gender.GenderName
                </dd>

                <dt class="col-sm-2">
                    Nationality
                </dt>
                @if (Model.Student.Citizen)
                {
                    <dd class="col-sm-10">
                        South African
                    </dd>
                }
                else
                {
                    <dd class="col-sm-10">
                        Non-SA
                    </dd>
                }

                <dt class="col-sm-2">
                    Career Objective
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.CareerObjective
                </dd>

                <dt class="col-sm-2">
                    Skills
                </dt>
                <dd class="col-sm-10">
                    @Model.Student.Skills
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <h4 class="text-success" style="font-weight:bold">Education</h4>

            @if (Model.Student.Education == null || Model.Student.Education.Count() == 0)
            {
                <h6>There is no education recorded for the student.</h6>
            }
            else
            {
                <table class="table table-borderless" style="width:50%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Qualification</th>
                            <th>Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var edu in Model.Student.Education)
                        {
                            <tr>
                                @if (edu.EndDate == null)
                                {
                                    <td>
                                        @edu.StartDate.Year - current
                                    </td>
                                }
                                else if (edu.EndDate != null)
                                {
                                    <td>
                                        @edu.StartDate.Year - @edu.EndDate.Value.Year
                                    </td>
                                }
                                <td class="m-2">
                                    @edu.Qualification
                                </td>
                                <td>
                                    @edu.Institution
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <hr />
        <div>
            <h4 class="text-success" style="font-weight:bold">Work Experience</h4>

            @if (Model.Student.WorkExperience == null || Model.Student.WorkExperience.Count() == 0)
            {
                <h6>There is no work experience recorded for the student.</h6>
            }
            else
            {
                <table class="table table-borderless" style="width:50%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Job Title</th>
                            <th>Institution</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model.Student.WorkExperience)
                        {
                            <tr>
                                @if (job.EndDate == null)
                                {
                                    <td>
                                        @job.StartDate.Year - current
                                    </td>
                                }
                                else if (job.EndDate != null)
                                {
                                    <td>
                                        @job.StartDate.Year - @job.EndDate.Value.Year
                                    </td>
                                }
                                <td class="m-2">
                                    @job.JobTitle
                                </td>
                                <td>
                                    @job.EmployerName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <hr />
        <div>
            <h4 class="text-success" style="font-weight:bold">Referees</h4>

            @if (Model.Student.Referee == null || Model.Student.Referee.Count() == 0)
            {
                <h6>There are no referres recorded for the student.</h6>
            }
            else
            {
                <table class="table table-borderless" style="width:50%">
                    <thead>
                        <tr>
                            <th>Institution</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var refs in Model.Student.Referee)
                        {
                            <tr>
                                <td class="m-2">
                                    @refs.Institution
                                </td>
                                <td>
                                    @refs.Name
                                </td>
                                <td>
                                    @refs.Email
                                </td>
                                <td>
                                    @refs.CellNumber
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <hr />
        <div>
            <h4 class="text-success" style="font-weight:bold">Uploaded Documents</h4>
            
            @if (Model.Documents == null || Model.Documents.Count() == 0)
            {
                <h6>There are no documents uploaded.</h6>
            }
            else
            {
                <table class="table table-borderless" style="width:50%">
                    <thead>
                        <tr>
                            <th>Document Name</th>
                            <th>Document Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var doc in Model.Documents)
                        {
                            <tr>
                                <td class="m-2">
                                    <a href="@Url.Action("DownloadDocument", "ViewApplicants", new {docId = doc.DocumentId})">@doc.FileName</a>
                                </td>
                                <td>
                                    @doc.FileDescription
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <br />
    
    <form method="post">
        <div class="pb-2">
            <h6 style="font-weight:bold">Select Outcome Status of Application</h6>
            <div class="pb-2">
                <button type="submit" class="btn btn-primary" asp-controller="ViewApplicants" asp-action="Interview" asp-route-id="@Model.ApplicationId">Interview</button>
                <button type="submit" class="btn btn-primary" asp-controller="ViewApplicants" asp-action="OnHold" asp-route-id="@Model.ApplicationId">On Hold</button>
                <button type="submit" class="btn btn-success" asp-controller="ViewApplicants" asp-action="Appoint" asp-route-id="@Model.ApplicationId">Appoint</button>
                <button type="submit" class="btn btn-danger" asp-controller="ViewApplicants" asp-action="Reject" asp-route-id="@Model.ApplicationId">Reject</button>
            </div>
        </div>
    </form>
    <br />
</div>

