@model StudentEmployementPortal.ViewModels.UpdateStudentProfileViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <h4 class="text-primary">Student Profile</h4>
    <hr />
    <form>
        <div class="form-control">
            <div class="row">
                <div class="col-6">
                    <h5 style="font-weight: bold" class="align-items-center">Personal Details</h5>
                </div>
                <div class="col-6 text-end">
                    <a asp-action="" asp-controller="" asp-area="" class="btn btn-primary" style="width:150px">Edit</a>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <label asp-for="StudentFirstName"></label>
                    <input asp-for="StudentFirstName" class="form-control" />
                    <span asp-validation-for="StudentFirstName"></span>
                </div>
                <div class="col">
                    <label asp-for="StudentLastName"></label>
                    <input asp-for="StudentLastName" class="form-control" />
                    <span asp-validation-for="StudentLastName"></span>
                </div>
            </div>
            <div class="pb-2">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address"></span>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <label asp-for="StudentTel"></label>
                    <input asp-for="StudentTel" class="form-control" />
                </div>
                <div class="col">
                    <label asp-for="StudentCel"></label>
                    <input asp-for="StudentCel" class="form-control" />
                    <span asp-validation-for="StudentCel"></span>
                </div>
            </div>
            <div class="pb-2">
                <label asp-for="StudentEmail"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail"></span>
            </div>
            <div class="pb-2">
                <label asp-for="IdentityNumber"></label>
                <input asp-for="IdentityNumber" class="form-control" />
            </div>
            <div class="pb-2">
                <label asp-for="DriversLicense"></label>
                <input asp-for="DriversLicense" class="form-control" />
                <span asp-validation-for="DriversLicense"></span>
            </div>
            <div class="pb-2">
                <label asp-for="CareerObjective"></label>
                <textarea asp-for="CareerObjective" class="form-control"></textarea>
                <span asp-validation-for="CareerObjective"></span>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <label asp-for="Gender"></label>
                    @Html.DropDownListFor(m => m.Gender, Model.Genderlist, "Select Gender", new {@class = "form-select"})
                </div>
                <div class="col">
                    <label asp-for="Race"></label>
                    @Html.DropDownListFor(m => m.Race, Model.RaceLList, "Select Race", new {@class = "form-select"})
                </div>
            </div>
            <div class="row pb-2">
                <div class="col">
                    <label asp-for="Citizen"></label>
                    <input asp-for="Citizen" type="radio" value="true" /> Yes
                    <input asp-for="Citizen" type="radio" value="false" /> No
                </div>
                <div class="col">
                    <label asp-for="Nationality"></label>
                    <input asp-for="Nationality" class="form-control" />
                </div>
            </div>
            <div class="pb-2">
                <label asp-for="YearOfStudy"></label>
                <input asp-for="YearOfStudy" class="form-control" />
            </div>
            <div class="row pb-2">
                <div id="facultyContainer" class="col">
                    <select asp-for="@Model.FacultyId" id="facultyId" class="form-select mb-3" readonly>
                        <option value="" selected disabled>Select Faculty</option>
                        @foreach (var f in @Model.FacultyList)
                        {
                            <option value="@f.FacultyId">@f.FacultyName</option>
                        }
                    </select>
                </div>
                <div id="departmentContainer" class="col">
                    <select asp-for="@Model.DepartmentId" id="departmentId" class="form-select mb-3" readonly>
                        <option value="" selected disabled>Select Department</option>
                        @foreach (var d in @Model.DepartmentList)
                        {
                            <option value="@d.DepartmentId">@d.DepartmentName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="form-control">
            <div class="row">
                <div class="col-6">
                    <h5 style="font-weight: bold" class="align-items-center">Education</h5>
                </div>
                <div class="col-6 text-end">
                    <a asp-action="" asp-controller="" asp-area="" class="btn btn-primary" style="width:150px">Add</a>
                </div>
            </div>
        </div>
        <br />
        <div class="form-control">
            <div class="row">
                <div class="col-6">
                    <h5 style="font-weight: bold" class="align-items-center">Employment</h5>
                </div>
                <div class="col-6 text-end">
                    <a asp-action="" asp-controller="" asp-area="" class="btn btn-primary" style="width:150px">Add</a>
                </div>
            </div>

        </div>
        <br />
        <button asp-action="" asp-route-id="@Model?.StudentId" class="btn btn-check" type="submit">Save Profile</button>

    </form>
</div>
<br />
<div class="pb-2">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
</div>
