@model IEnumerable<JobPost>

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div class="container p-1">
    <div class="row">
        <a asp-controller="Home" asp-action="Index" class="btn btn-toolbar right-align" style="width:150px">
            &larr; HOME
        </a>
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Search & Apply</h2>
        </div>
    </div>
    @if (Model.Count() == 0)
    {
        <h6 class="text-center">THERE ARE NO AVAILABLE JOB POSTS TO APPLY FOR.</h6>
    }
    else
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Department</th>
                    <th>Fulltime / Part-time</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Hours Per Week</th>
                    <th>Rate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.JobTitle</td>
                        <td>@obj.Department.DepartmentName</td>
                        @if (obj.FullTime == true)
                        {
                            <td>Fulltime</td>
                        }
                        else if (obj.FullTime == false)
                        {
                            <td>Part-time</td>
                        }
                        <td>@String.Format("{0:dd MMMM yyyy}", obj.StartDate)</td>
                        <td>@String.Format("{0:dd MMMM yyyy}", obj.EndDate)</td>
                        @if (obj.FullTime == false)
                        {
                            <td>@obj.PartTimeHours</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        <td>R@(obj.HourlyRate)</td>
                        <td style="width:100%" class="btn-group" role="group">
                            <a asp-controller="Application" asp-action="PostDetails" asp-route-id="@obj.PostId"
                               class="btn btn-primary mx-1">Details</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

</div>
