@model StudentEmployementPortal.Models.JobPost
@using System.Globalization

@{
    ViewData["Title"] = "PostDetails";
}

@{

    DateTime dateStart = new DateTime(Model.StartDate.Value.Year, Model.StartDate.Value.Month, Model.StartDate.Value.Day);
    DateTime dateEnd = new DateTime(Model.EndDate.Value.Year, Model.EndDate.Value.Month, Model.EndDate.Value.Day);
    DateTime dateClose = new DateTime(Model.ClosingDate.Value.Year, Model.ClosingDate.Value.Month, Model.ClosingDate.Value.Day);
}

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="Application" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Job Post Details</h2>
</div>
<hr />

<div>
    <div class="form-control">
        <br />
        <dl class="row">
            <dt class="col-sm-2">
                Department
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JobLocation)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JobDescription)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KeyResponsibilities)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KeyResponsibilities)
            </dd>

            <dt class="col-sm-2">
                Fulltime / Part-time
            </dt>
            @if (Model.FullTime == true)
            {
                <dd class="col-sm-10">
                    Fulltime
                </dd>
            }
            else if (Model.FullTime == false)
            {
                <dd class="col-sm-10">
                    Part-time
                </dd>

                <dd></dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PartTimeHours)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PartTimeHours) hours per week
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HourlyRate)
            </dt>
            <dd class="col-sm-10">
                R@(Html.DisplayFor(model => model.HourlyRate))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Model.StartDate.Value.Day @dateStart.ToString("MMMM", CultureInfo.InvariantCulture) @Model.StartDate.Value.Year
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Model.EndDate.Value.Day @dateEnd.ToString("MMMM", CultureInfo.InvariantCulture) @Model.EndDate.Value.Year
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MinRequirements)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MinRequirements)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosingDate)
            </dt>
            <dd class="col-sm-10 text-danger" style="font-weight:bold">
                @Model.ClosingDate.Value.Day @dateClose.ToString("MMMM", CultureInfo.InvariantCulture) @Model.ClosingDate.Value.Year
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationInstructions)
            </dt>
            <dd class="col-sm-10 text-danger" style="font-weight:bold">
                @Html.DisplayFor(model => model.ApplicationInstructions)
            </dd>
        </dl>
    </div>
</div>
<br/>
<div class="pb-2">
    <a asp-action="Apply" asp-route-id="@Model.PostId" class="btn btn-primary">Apply</a>
</div>
