@using StudentEmployementPortal.ViewModels
@model StudentUpdateInfoViewModel

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Student Profile</h2>
</div>
<hr />

<form method="post" asp-action="UpdateProfile">
    <div class="form-control">
        <div class="row">
            <div class="col">
                <label asp-for="FirstName">First Name <span class="text-success">*</span></label>
                <input asp-for="FirstName" class="form-control" id="firstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="col">
                <label asp-for="LastName">Last Name <span class="text-success">*</span></label>
                <input asp-for="LastName" class="form-control" id="lastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label asp-for="TelNumber"></label>
                <input asp-for="TelNumber" class="form-control" />
                <span asp-validation-for="TelNumber"></span>
            </div>
            <div class="col">
                <label asp-for="CellNumber"></label>
                <input asp-for="CellNumber" class="form-control" />
                <span asp-validation-for="CellNumber"></span>
            </div>
            <div class="col">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div id="citizenContainer" class="col">
                <div>
                    <label asp-for="Citizen" class="mb-2">Are you a South African Citizen? <span class="text-success">*</span></label>
                    <input type="radio" asp-for="Citizen" value="true" class="m-2" id="citizenYes"/>Yes
                    <input type="radio" asp-for="Citizen" value="false" class="m-2" id="citizenNo"/>No
                </div>
                <span asp-validation-for="Citizen" class="text-danger" id="citizenError"></span>
            </div>
            <div class="col">
                <label asp-for="StudentIdNumber">ID/Passport Number <span class="text-success">*</span></label>
                <input asp-for="StudentIdNumber" class="form-control" id="studentIdNumber" />
                <span asp-validation-for="StudentIdNumber" id="idNumberValidation"></span>
            </div>
            <div class="col">
                <label asp-for="LicenseId"></label>
                <select asp-for="@Model.LicenseId" class="form-select" id="licenseId">
                    <option value="" selected disabled>Select Drivers Licence</option>
                    @foreach (var license in Model.LicenseList)
                    {
                        <option value="@license.LicenseId">@license.LicenceName</option>
                    }
                </select>
                <span asp-validation-for="LicenseId" id="licenseValidation"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label asp-for="GenderId" class="mb-2">Gender <span class="text-success">*</span></label>
                <select asp-for="@Model.GenderId" class="form-select" id="genderId">
                    <option value="" selected disabled>Select Gender</option>
                    @foreach (var gender in Model.GenderList)
                    {
                        <option value="@gender.GenderId">@gender.GenderName</option>
                    }
                </select>
                <span asp-validation-for="GenderId" class="text-danger" id="genderError"></span>
            </div>
            <div class="col">
                <label asp-for="RaceId" class="mb-2">Race <span class="text-success">*</span></label>
                <select asp-for="@Model.RaceId" class="form-select" id="raceId">
                    <option value="" selected disabled>Select Race</option>
                    @foreach (var race in Model.RaceList)
                    {
                        <option value="@race.RaceId">@race.RaceName</option>
                    }
                </select>
                <span asp-validation-for="RaceId" class="text-danger" id="raceError"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <select asp-for="@Model.YearOfStudyId" class="form-select">
                    <option value="" selected disabled>Select Year of Study</option>
                    @foreach (var yos in Model.YearOfStudyList)
                    {
                        <option value="@yos.YearOfStudyId">@yos.YearOfStudyName</option>
                    }
                </select>
            </div>
            <div id="facultyContainer" class="col">
                <select asp-for="@Model.FacultyId" id="facultyId" class="form-select">
                    <option value="" selected disabled>Select Faculty</option>
                    @foreach (var f in @Model.FacultyList)
                    {
                        <option value="@f.FacultyId">@f.FacultyName</option>
                    }
                </select>
            </div>
            <div id="departmentContainer" class="col">
                <select asp-for="@Model.DepartmentId" id="departmentId" class="form-select">
                    <option value="" selected disabled>Select Department</option>
                    @foreach (var d in @Model.DepartmentList)
                    {
                        <option value="@d.DepartmentId">@d.DepartmentName</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div>
            <label asp-for="CareerObjective"></label>
            <textarea asp-for="CareerObjective" class="form-control" id="textarea" ></textarea>
            <span asp-validation-for="CareerObjective"></span>
        </div>
        <br />
        <div>
            <label asp-for="Achievements"></label>
            <textarea asp-for="Achievements" class="form-control" id="textarea"></textarea>
            <span asp-validation-for="Achievements"></span>
        </div>
        <br />
        <div>
            <label asp-for="Interests"></label>
            <textarea asp-for="Interests" class="form-control" id="textarea"></textarea>
            <span asp-validation-for="Interests"></span>
        </div>
        <br />
        <div>
            <label asp-for="Skills"></label>
            <textarea asp-for="Skills" class="form-control" ></textarea>
            <span asp-validation-for="Skills"></span>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <p class="text-success">* These fields cannot be changed once submitted. If you wish to change them, please contact the admin.</p>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary p-1" style="width:150px" id="submitButton">Save Changes</button>
        <br />
    </div>
</form>
<br />

@if (Model.StudentIdNumber == String.Empty || Model.StudentIdNumber == null)
{
    <h3 class="pb-2 text-danger">Note: Please Complete Profile and Save Changes to add Education, Referees, and Work Experience.</h3>
    <br />
}else{
    <div class="form-control p-3">
        <div class="row pt-2">
            <div class="col-6">
                <h2 class="fw-bold">Education</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="ManageEducation" asp-action="Index" class="btn btn-primary">Add</a>
            </div>
            <hr/>
            @if (Model.Education == null || Model.Education.Count() == 0)
            {
                <h5 class="text-center">There is no education.</h5>
            }
            else
            {
                <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Qualification</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var edu in Model.Education)
                        {
                            <tr>
                                <td>@edu.Qualification</td>
                                <td>
                                    <a asp-controller="ManageEducation" asp-action="Edit" asp-route-id="@edu.EducationId"
                                       class="btn btn-primary mx-1">Edit</a>
                                    <a asp-controller="ManageEducation" asp-action="Delete" asp-route-id="@edu.EducationId"
                                       class="btn btn-danger mx-1">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <br />
    <div class="form-control p-3">
        <div class="row pt-2">
            <div class="col-6">
                <h2 class="fw-bold">Work Experience</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="ManageWorkExperience" asp-action="Index" class="btn btn-primary">Add</a>
            </div>
            <hr/>
            @if (Model.WorkExperience == null || Model.WorkExperience.Count() == 0)
            {
                <h5 class="text-center">There is no work experience.</h5>
            }
            else
            {
                <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var we in Model.WorkExperience)
                        {
                            <tr>
                                <td>@we.JobTitle</td>
                                <td>
                                    <a asp-controller="ManageWorkExperience" asp-action="Edit" asp-route-id="@we.WorkExperienceId"
                                       class="btn btn-primary mx-1">Edit</a>
                                    <a asp-controller="ManageWorkExperience" asp-action="Delete" asp-route-id="@we.WorkExperienceId"
                                       class="btn btn-danger mx-1">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
        </div>
    </div>
    <br />
    <div class="form-control p-3">
        <div class="row pt-2">
            <div class="col-6">
                <h2 class="fw-bold">Referees</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="ManageReferee" asp-action="Index" class="btn btn-primary">Add</a>
            </div>
            <hr/>
            @if (Model.Referee == null || Model.Referee.Count() == 0)
            {
                <h5 class="text-center">There are no referees.</h5>
            }
            else
            {
                <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var referee in Model.Referee)
                        {
                            <tr>
                                <td>@referee.JobTitle</td>
                                <td>
                                    <a asp-controller="ManageReferee" asp-action="Edit" asp-route-id="@referee.RefereeId"
                                       class="btn btn-primary mx-1">Edit</a>
                                    <a asp-controller="ManageReferee" asp-action="Delete" asp-route-id="@referee.RefereeId"
                                       class="btn btn-danger mx-1">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <br />
}





@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#facultyId').change(function () {
            var facultyId = $(this).val();
            if (facultyId) {
                $.ajax({
                    url: '/ManageStudentProfile/GetDepartmentsByFaculty',
                    type: 'POST',
                    data: { facultyId: facultyId },
                    success: function (response) {
                        $('#departmentId').html(response);
                        $('#departmentId').prop('disabled', false);
                    }
                });
            } else {
                $('#departmentId').html('<option value="" selected disabled>Select Department</option>');
                $('#departmentId').prop('disabled', true);
            }
        });
    </script>


}