@using StudentEmployementPortal.ViewModels
@model EmployerUpdateInfoViewModel

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Profile</h2>
</div>
<hr />

<form method="post" id="employerForm" onsubmit="">
    <div class="form-control">
        <div class="=border pt-2 mt-2">
            <div class="row">
                <div class="col">
                    <label asp-for="EmployerTitle"></label>
                    <select asp-for="@Model.TitleId" class="form-select">
                        <option value="" selected disabled>Select Title</option>
                        @foreach (var title in Model.TitleList)
                        {
                            <option value="@title.TitleId">@title.TitleName</option>
                        }
                    </select>
                    <span asp-validation-for="TitleId"></span>
                </div>
                <div class="col">
                    <label asp-for="EmployerFirstName"></label>
                    <input asp-for="EmployerFirstName" class="form-control" />
                    <span asp-validation-for="EmployerFirstName"></span>
                </div>
                <div class="col">
                    <label asp-for="EmployerSurname"></label>
                    <input asp-for="EmployerSurname" class="form-control" />
                    <span asp-validation-for="EmployerSurname"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <label asp-for="EmployerEmail"></label>
                    <input asp-for="EmployerEmail" class="form-control" />
                    <span asp-validation-for="EmployerEmail"></span>
                </div>
                <div class="col">
                    <label asp-for="EmployerPhone"></label>
                    <input asp-for="EmployerPhone" class="form-control" />
                    <span asp-validation-for="EmployerPhone"></span>
                </div>
                <div class="col">
                    <label asp-for="EmployerCell"></label>
                    <input asp-for="EmployerCell" class="form-control" />
                    <span asp-validation-for="EmployerCell"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <label asp-for="RegistrationNumber"></label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber"></span>
                </div>
                <div class="col">
                    <label asp-for="RegistrationName"></label>
                    <input asp-for="RegistrationName" class="form-control" />
                    <span asp-validation-for="RegistrationName"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <label asp-for="JobTitle"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
                <div class="col">
                    <label asp-for="TradingName"></label>
                    <input asp-for="TradingName" class="form-control" />
                    <span asp-validation-for="TradingName"></span>
                </div>
                <div class="col">
                    <label asp-for="EmployerBusinessType"></label>
                    <select asp-for="@Model.BusinessTypeId" class="form-select">
                        <option value="" selected disabled>Select Business Type</option>
                        @foreach (var business in Model.BusinessTypeList)
                        {
                            <option value="@business.BusinessTypeId">@business.BusinessName</option>
                        }
                    </select>
                    <span asp-validation-for="BusinessTypeId"></span>
                </div>
            </div>
            <br />
            <div>
                <label asp-for="RegisteredAddress"></label>
                <textarea asp-for="RegisteredAddress" class="form-control"></textarea>
                <span asp-validation-for="RegisteredAddress"></span>
            </div>
            <br />
            <div>
                <input asp-for="TrueInfo" type="checkbox" id="checkbox1" /> I confirm that the information provided above is true to the best of my knowledge.
            </div>
            <br />
        </div>
    </div>
    <br />
    <div class="pb-2">
        <button type="submit" class="btn btn-primary" style="width:150px" id="submitButton">Update</button>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#checkbox1').change(function () {
                var isChecked = $(this).is(':checked');
                $('#submitButton').prop('disabled', !isChecked);
            });

            var isChecked = $(this).is(':checked');
            $('#submitButton').prop('disabled', !isChecked);

        });
    </script>

    <script>
        function confirmSubmission(e){
            e.preventDefault();

            Swal.fire({
                title: "Confirm Submission",
                text: "Making changes to your profile will result in your profile having to be reviewed again. Are you sure you want to continue?",
                icon: "question",
                showCancelButton: true,
            }).then(result => {
                if (result.isConfirmed){
                    const employerForm = document.getElementById("employerForm");
                    employerForm.submit();
                }
            })
        }
    </script>
}