@namespace StudentEmployementPortal.ViewModels
@model ReviewPostViewModel

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<form method="post" asp-action="ReviewPost">
    <div class="=border pt-2 mt-2">
        <div>
            <a asp-controller="ApproverPost" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
                &larr; Back
            </a>
        </div>
        <div class="row pb-2">
            <h2 class="text-primary">Review Post</h2>
        </div>
        <hr />
        <div class="form-control">
            <div>
                <label asp-for="ApproverNote"></label>
                <textarea asp-for="ApproverNote" class="form-control"></textarea>
            </div>
            <br/>
            <div>
                <label asp-for="SelectedStatus"></label>
                @Html.DropDownListFor(model => model.SelectedStatus, Model.StatusNames, "Select Status")
            </div>
        </div>
        <br />
        <div class="mb-2">
            <label asp-for="Internal" class="mb-2"></label>
            <input type="radio" asp-for="Internal" value="true" class="m-2" readonly />Yes
            <input type="radio" asp-for="Internal" value="false" class="m-2" readonly />No
            <span asp-validation-for="Internal" class="text-danger"></span>
        </div>
        <br/>
        @*<div class="mb-2">
            <label asp-for="Faculty"></label>
            <input asp-for="Faculty" class="form-control" />
            <span asp-validation-for="Faculty" class="text-danger"></span>
        </div>*@
        <div class="mb-2">
            <label asp-for="JobTitle"></label>
            <input asp-for="JobTitle" class="form-control" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="JobLocation"></label>
            <input asp-for="JobLocation" class="form-control" />
            <span asp-validation-for="JobLocation" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="JobDescription"></label>
            <input asp-for="JobDescription" class="form-control" />
            <span asp-validation-for="JobDescription" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="KeyResponsibilities"></label>
            <input asp-for="KeyResponsibilities" class="form-control" />
            <span asp-validation-for="KeyResponsibilities" class="text-danger"></span>
        </div>
        <div>
            <div>
                <label asp-for="FullTime" class="mb-2"></label>
                <input type="radio" asp-for="FullTime" name="fullTime" value="true" id="yesRadioButton" class="m-2" />Yes
                <input type="radio" asp-for="FullTime" name="fullTime" value="false" id="noRadioButton" class="m-2" />No
            </div>
        </div>
        <br />
        <div class="mb-2">
            <div>
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" type="date" />
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">
            <div>
                <label asp-for="EndDate"></label>
                <input type="date" asp-for="EndDate" />
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">
            <label asp-for="HourlyRate"></label>
            <input asp-for="HourlyRate" />
            <span asp-validation-for="HourlyRate" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">

            <label> Limited To: </label><br />
            <div>
                @Html.CheckBoxFor(m => m.limitedToFirst)
                <label>@Html.DisplayNameFor(m => m.limitedToFirst)</label>

                @Html.CheckBoxFor(m => m.limitedToSecond)
                <label>@Html.DisplayNameFor(m => m.limitedToSecond)</label>

                @Html.CheckBoxFor(m => m.limitedToThird)
                <label>@Html.DisplayNameFor(m => m.limitedToThird)</label>

                @Html.CheckBoxFor(m => m.limitedToHonours)
                <label>@Html.DisplayNameFor(m => m.limitedToHonours)</label>
                <br />
                @Html.CheckBoxFor(m => m.limitedToMasters)
                <label>@Html.DisplayNameFor(m => m.limitedToMasters)</label>

                @Html.CheckBoxFor(m => m.limitedToPhD)
                <label>@Html.DisplayNameFor(m => m.limitedToPhD)</label>

                @Html.CheckBoxFor(m => m.limitedToPostDoc)
                <label>@Html.DisplayNameFor(m => m.limitedToPostDoc)</label>

                @Html.CheckBoxFor(m => m.limitedToDepartment)
                <label>@Html.DisplayNameFor(m => m.limitedToDepartment)</label>

                @Html.CheckBoxFor(m => m.limitedToFaculty)
                <label>@Html.DisplayNameFor(m => m.limitedToFaculty)</label>
            </div>
        </div>
        <br />
        <div>
            <div>
                <label asp-for="CitizensOnly" class="mb-2"></label>
                <input type="radio" asp-for="CitizensOnly" value="true" class="m-2" />Yes
                <input type="radio" asp-for="CitizensOnly" value="false" class="m-2" />No
            </div>
            <span asp-validation-for="CitizensOnly" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">
            <label asp-for="MinRequirements"></label>
            <input asp-for="MinRequirements" />
            <span asp-validation-for="MinRequirements" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">
            <label asp-for="ApplicationInstructions"></label>
            <input asp-for="ApplicationInstructions" />
            <span asp-validation-for="ApplicationInstructions" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">
            <div>
                <label asp-for="ClosingDate"></label>
                <input asp-for="ClosingDate" type="date" />
            </div>
            <span asp-validation-for="ClosingDate" class="text-danger"></span>
        </div>
        <br />
        <div class="form-control">
            <div class="mb-2">
                <label asp-for="ContactPerson"></label>
                <input asp-for="ContactPerson" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <br />
            <div class="mb-2">
                <label asp-for="ContactEmail"></label>
                <input asp-for="ContactEmail" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <br />
            <div class="mb-2">
                <label asp-for="ContactNumber"></label>
                <input asp-for="ContactNumber" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
        </div>
        <br />
    </div>
        @Html.HiddenFor(Model => Model.PostId, new { @readonly = "readonly" })
    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    <a asp-controller="ApproverPost" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>

</form>

@section Scripts{
    
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
