@namespace StudentEmployementPortal.ViewModels
@model ReviewPostViewModel


@{
    string limitedTo = "";

    if(Model.limitedToFirst)
    {
        limitedTo = limitedTo + ", " + "1st Years";
    }
    else if (Model.limitedToSecond)
    {
        limitedTo = limitedTo + ", " + "2nd Years";
    }
    else if (Model.limitedToThird)
    {
        limitedTo = limitedTo + ", " + "3rd Years";
    }
    else if (Model.limitedToHonours)
    {
        limitedTo = limitedTo + ", " + "Honours";
    }
    else if (Model.limitedToMasters)
    {
        limitedTo = limitedTo + ", " + "Masters";
    }
    else if (Model.limitedToPhD)
    {
        limitedTo = limitedTo + ", " + "PhD";
    }
    else if (Model.limitedToPostDoc)
    {
        limitedTo = limitedTo + ", " + "PostDoc";
    }

}
<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="ApproverPost" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Review Post</h2>
</div>
<hr />

<div class="row">
    <div class="form-control col">
        <br />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Internal)
            </dt>
            @if (Model.Internal == true)
            {
                <dd class="col-sm-7">
                    Yes
                </dd>
            }
            else
            {
                <dd class="col-sm-7">
                    No
                </dd>
            }

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FacultyId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FacultyId)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.DepartmentId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.DepartmentId)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.JobLocation)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.JobLocation)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.JobDescription)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.KeyResponsibilities)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.KeyResponsibilities)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FullTime)
            </dt>
            @if (Model.FullTime == true)
            {
                <dd class="col-sm-7">
                    Yes
                </dd>
            }
            else
            {
                <dd class="col-sm-7">
                    No
                </dd>

                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.PartTimeHours)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.PartTimeHours)
                </dd>
            }

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-7">
                @String.Format("{0:dd MMMM yyyy}", Model.StartDate)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-7">
                @String.Format("{0:dd MMMM yyyy}", Model.EndDate)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ClosingDate)
            </dt>
            <dd class="col-sm-7">
                @String.Format("{0:dd MMMM yyyy}", Model.ClosingDate)
            </dd>

            <dt class="col-sm-5">
                Limited to Citizens
            </dt>
            @if (Model.CitizensOnly == true)
            {
                <dd class="col-sm-7">
                    Yes
                </dd>
            }
            else
            {
                <dd class="col-sm-7">
                    No
                </dd>
            }

            <dt class="col-sm-5">
                Limited to YOS
            </dt>
            @if (!string.IsNullOrEmpty(limitedTo) && limitedTo.Length > 1)
            {
                <dd class="col-sm-7">@limitedTo.Substring(1)</dd>
            }
            else
            {
                <dd class="col-sm-7"> - </dd>
            }

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.MinRequirements)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.MinRequirements)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ApplicationInstructions)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ApplicationInstructions)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ContactPerson)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ContactPerson)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ContactEmail)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ContactEmail)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>
        </dl>
    </div>
    <br />
    <div class="col">
        <form method="post" asp-action="ReviewPost">
            <br />
            <div>
                @Html.HiddenFor(Model => Model.PostId, new { @readonly = "readonly" })
                @Html.HiddenFor(Model => Model.EmployerId, new { @readonly = "readonly" })
                <div>
                    <label asp-for="ApproverNote"></label>
                    <textarea asp-for="ApproverNote" class="form-control"></textarea>
                </div>
                <br />
                <div>
                    <label asp-for="SelectedStatus"></label>
                    @Html.DropDownListFor(model => model.SelectedStatus, Model.StatusNames, "Select Status", new { @class = "form-select"})

                </div>
            </div>
            <br />
            <div class="pb-2">
                <button type="submit" class="btn btn-primary right-align" style="width:150px">Update Outcome</button>
            </div>

        </form>
    </div>
</div>
<br />

@section Scripts{
    
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
