@namespace StudentEmployementPortal.ViewModels
@model RefereeViewModel

<style>
    .right-align {
        float: right;
    }

    .left-align {
        float: left;
    }
</style>

<div>
    <a asp-controller="ManageStudentProfile" asp-action="Index" class="btn btn-outline-primary right-align " style="width:150px">
        &larr; Back
    </a>
</div>
<div class="row pb-2">
    <h2 class="text-primary">Delete Referee</h2>
</div>
<hr />

<form asp-action="DeleteReferee">

    <div class="form-control">
        <br />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>

            <dt class="col-sm-2">
                Job Title
            </dt>
            <dd class="col-sm-10">
                @Model.JobTitle
            </dd>

            <dt class="col-sm-2">
                Institution
            </dt>
            <dd class="col-sm-10">
                @Model.Institution
            </dd>

            <dt class="col-sm-2">
                Contact Number
            </dt>
            <dd class="col-sm-10">
                @Model.CellNumber
            </dd>

            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>
        </dl>
    </div>
    <br />
    <button type="submit" class="pt-2 btn btn-danger">Delete Referee</button>
    @Html.HiddenFor(Model => Model.RefereeId, new { @readonly = "readonly" })
    

</form>